In [10]:
import pickle
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [11]:
BASE_DIR = '/home/breno/PycharmProjects/customer-churn-classificator/resources'

In [12]:
df = pd.read_csv(f'{BASE_DIR}/input/customer_churn_dataset.csv')
df = df.drop('CustomerID', axis=1)

In [13]:
df

,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
440828,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
440829,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
440830,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
440831,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
440832,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

## One Hot Encoding

In [15]:
categorical_columns = ['Gender', 'Subscription Type', 'Contract Length']
ohe = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
df_encoded = ohe.fit_transform(df[categorical_columns])
df_encoded = pd.DataFrame(df_encoded, columns=ohe.get_feature_names_out(categorical_columns))
df = pd.concat([df.drop(columns=categorical_columns), df_encoded], axis=1)

with open(f'{BASE_DIR}/models/one_hot_encoder.pkl', 'wb') as f:
    pickle.dump(ohe, f)

## NormalizaÃ§Ã£o

In [16]:
numeric_columns = ['Age', 'Tenure', 'Usage Frequency', 'Support Calls', 'Payment Delay', 'Total Spend', 'Last Interaction']
scaler = StandardScaler()
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

with open(f'{BASE_DIR}/models/standard_scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

## Save

In [17]:
df.to_csv(f'{BASE_DIR}/output/prepared_data.csv', index=False)